@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.bg-red {
  background-color: crimson;
}

.bg-white {
  background-color: white;
}

.container-wrapper {
  width: 250px;
  height: 100vh;
  background-color: deepskyblue;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
}

.item {
  width: 95%;
  padding: 10px 0;
  padding-left: 12px;
  background-color: deepskyblue;
  cursor: pointer;
  text-align: left;
}

.item:hover {
  background-color: #0377DA;
}

.icon {
  padding-right: 10px;
  display: inline-block;
  width: 20%;
  font-size: 15px;
}

.bg-blue {
  background-color: #3960D0;
  color: white;
}

.blue-hover:hover {
  background-color: #609BEB;
  color: white;
}

.bg-light {
  background-color: #FFFEFF;
  color: black;
}

.light-hover:hover {
  background-color: #F6F6F6;
}

.bg-black {
  background-color: #1c1e2a;
  color: white;
}

.black-hover:hover {
  background-color: #2C2F3E;
  color: white;
}

.dropdown-item {
  text-align: left;
  cursor: pointer;
}

.mx-1 {
  margin: 0 1em;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
